/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#AnchorPane2 {
    -fx-background-color: #0099cc;
    -fx-border-color: black;
    -fx-border-width: 5px;
}

.team-name {
    -fx-font-size: 24px;
}

.red-tab {
    -fx-background-color: red;
}

.no-border {
    -fx-border-color: white;
}

.main-bg {
    /*-fx-background-color:#99c97a;*/
}

